<div class="header-apartments">
  <img src="/images/minisite_desktop.png">

  <div class="container">
    <div class="text">
      משגב-לדיור ממוקם בבני ברק ועוסק ביזמות נדלן בתיווך מכירה והשכרת נכסים יעוץ מקצועי והכוונה בכל תחום הנדלן עד לפרטים
      הקטנים אצלנו תוכלו למצוא מאגר גדול של דירות יד שניה וחדשות
    </div>
  </div>

</div>
<div class="container">


  <div class="print">
    <div class="">
      {{ 'apartments board'|t }}
    </div>
    <button>
      <i></i>
      {{ 'Print all apartments'|t }}
    </button>
  </div>

  <div class="apartments">

    <div class="length">
      {{ data|length }} {{ 'Apartments for sale'|t }}
    </div>

    {% set image = "" %}

    {% for key,node in data %}

      {% set images = [] %}

      {% for k,v in node.field_pictures %}
        {% set images = images|merge([v.entity.fileuri]) %}
      {% endfor %}

      <div class="logo">
        <img src="/images/logo.jpg">
      </div>
      <div class="apartment">
        <div class="apartment-inner open">
          <div class="header">
            <div class="image"><img src="/images/feed_re_placeholder_small.png"></div>

            {% if node.field_address.value %}
              <div class="title">
                {{ node.field_address.value }}
              </div>
            {% endif %}

            {% if node.field_rooms.value %}
              <div class="rooms">
                {{ node.field_rooms.value }}
                <span>{{ 'Rooms'|t }}  </span>
              </div>
            {% endif %}

            {% if node.field_floor.value %}
              <div class="floor">
                <span>{{ 'Floor'|t }}</span>:
                {{ node.field_floor.value }}
              </div>
            {% endif %}

            {% if node.field_apartment_size.value %}
              <div class="apartment-size">
                {{ node.field_apartment_size.value }}
                <span>{{ 'Apartment size'|t }}</span>
              </div>
            {% endif %}

            {% if node.field_price.value %}
              <div class="price">
                {{ node.field_price.value }}
                <span>{{ '₪' }}</span>
              </div>
            {% endif %}

          </div>

          <div class="apartment-details">


            <div class="row">

              <div class="col-md-6 col-sm-12">
                <i class="entry-date"></i>
                <span class="name">{{ 'entry date'|t }}:</span>
                {{ node.field_entry_date.value }}
              </div>

              <div class="col-md-6 col-sm-12">
                <i class="floors"></i>
                <span class="name">{{ 'floors in the building'|t }}:</span>
                {{ node.field_floors_in_the_building.value }}
              </div>

              <div class="col-md-12 col-sm-12">
                <i class="phone"></i>
                <span class="name">{{ 'Contact'|t }}:</span>
                <a href="tel:{{ node.uid.entity.field_phone.value }}">{{ node.uid.entity.field_phone.value }}</a>
              </div>

            </div>

            {% if node.body.value %}
              <div class="description">
                <div> {{ 'Apartment Description'|t }}:</div>
                {{ node.body.value|raw }}
              </div>
            {% endif %}

            <div class="home">
              <div class="row">
                <div class="col-4 icon-{{ node.field_balconies.value }}">
                  {% set balconies = node.field_balconies.value ? node.field_balconies.value : '' %}
                  <i class="balconies icon-{{ node.field_balconies.value }}"></i>
                  <span class="name">{{ 'balconies'|t }}</span>
                  {{ balconies }}
                </div>

                <div class="col-4 icon-{{ node.field_air_conditioner.value }}">
                  {% set conditioner = node.field_air_conditioner.value ? node.field_air_conditioner.value : '' %}
                  <i class="conditioner icon-{{ node.field_air_conditioner.value }}"></i>
                  <span class="name">{{ 'air conditioner'|t }} </span>
                </div>
                <div class="col-4 icon-{{ node.field_bars.value }}">
                  {% set bars = node.field_bars.value ? node.field_bars.value : '' %}
                  <i class="bars icon-{{ node.field_bars.value }}"></i>
                  <span class="name">{{ 'bars'|t }} </span>
                </div>
                <div class="col-4 icon-{{ node.field_elevators.value }}">
                  {% set elevators = node.field_elevators.value ? node.field_elevators.value : '' %}
                  <i class="elevators "></i>
                  <span class="name">{{ 'elevator'|t }} </span>
                  {{ elevators }}
                </div>
                <div class="col-4 icon-{{ node.field_parking.value }}">
                  {% set parking = node.field_parking.value ? node.field_parking.value : '' %}
                  <i class="parking"></i>
                  <span class="name">{{ 'parking'|t }} </span>
                  {{ parking }}
                </div>
              </div>

            </div>

            <div class="images row">

              {% for k,v in images %}
                <div class="image col-md-6 col-sm-12">
                  <img src=" {{ file_url(v) }}">
                </div>
              {% endfor %}

            </div>
          </div>

        </div>
      </div>
      <div class="sidebar">

      </div>
    {% endfor %}
  </div>
</div>


